{% extends 'layout.html' %}

{% block title %}
    <title> GPA Calculator </title>
{% endblock %}
{% block content %}
    <div id="back">
        <div id="c">
            <div id="result">
                <div id="re"></div>
            </div>
            <div id="sem1">
                <form >
                    <input type="number" class="gpa" placeholder="Enter Quarter 1 grade">
                    <input type="number" class="gpa" placeholder="Enter Quarter 2 grade">
                    <input type="number" class="gpa" placeholder="Enter Quarter 3 grade">
                    <input type="number" class="gpa" placeholder="Enter Quarter 4 grade">
                </form>
            </div>
        </div>
    </div>
{% endblock %}